@{ 
    ViewBag.Title = "frontPage";
}

<div id="welcome">
    <h1>My name is Peter Partridge</h1>
    <h1>Welcome to my portfolio</h1>
</div>



@*Dialog box that pops up from cliking on welcome*@
<div id="dialog">
    <article>
        <div><h1>About me</h1></div>
        <div>
            <p>I have always enjoyed building pcs and solving computer problems from a young age, so I have always had a great love for technology. 
            I started playing with computer game building programmes and found great excitment from just moving a single block on a screen.</p>

            <p>Soon a freind hearing me telling the story of a moving block and how amasing it was to me, she sent me a book on C#, and this sparked my love for devlopment.
            I first started courses on pluralsite for offline MVVM applications on .net, but this soon evlolved to a love and fasination of building an online application.</p>

            <p>I have been training over the past year in both front and back end sides of .net devlopment and after alot of cheering ups and solving a problem, 
            to wall banging lows I found I enjoyed every minute, and the problems web devlopers are faced with on a daily basis makes me even more excited.</p>
        </div>
        
    </article>
</div>
@*Dialog box*@