@{
    ViewBag.Title = "Portfolio";
}
<div class="col-md-12">
    <div class="col-md-4 col-xs-12 hiddenAtStart start dialogBoxClicker" title="Click here to find out about me">
        <h1>Peter Partrdige</h1>
    </div>

    @* welcome text *@
    <section id="welcome" class=" welcomeText col-md-4 col-xs-12 " title="Click here to find out about me">
        <div id="startTextOne" class="fadeText">
            <h1>Peter Partridge</h1>
        </div>
        <div id="startTextTwo" class="fadeText">
            <h1>Front end</h1>
            <h1>web developer.</h1>
        </div>
        <div id="startTextThree">
            <h1 class="logo dialogBoxClicker">PP</h1>
        </div>
    </section>
   @* welcome text *@
   
     <div class="col-md-4 col-xs-12 hiddenAtStart start dialogBoxClicker" title="Click here to find out about me">
        <h1>Front end Web Devloper </h1>
    </div>
</div>


<div class="col-md-12 col-xs-12 hiddenAtStart start">
    <div class="col-md-6 col-xs-12">
    
        <div class="canBeClickedOn clickToActivateDropDown col-xs-12">
            <h1 id="programingLang"> Programming Languages </h1>
        </div>

        <section id="programmingLangDropDown" class="removeClassOnClick dropDownOverlay col-md-12 col-xs-12">

            <div class="col-md-4 col-xs-12">
                <img src="~/Images/Logos/javascript.jpg" alt="Javascript" id="javascript" class="img-responsive" />
            </div>

            <div class="col-md-4 col-xs-12">
                <h3 id="csharp">C#</h3>
            </div>
            <div class="col-md-4 col-xs-12">
                <img src="~/Images/Logos/css3_logo.png" class="img-responsive" id="css" />

            </div>

            <div class="col-md-4 col-xs-12">
                <img src="~/Images/Logos/html5-logo.png" class="img-responsive" id="html5" />

            </div>

            <div>
                <h3 class="col-md-4 col-xs-12" id="scss">SCSS</h3>

            </div>
        </section>
    </div>
    @*programming languages*@

    @* Java Library *@
    <div class="col-md-6 col-xs-12">
        <div class="col-xs-12 col-md-12 clickToActivateDropDown" id="javaLibrary">
            <h1>Java librarys</h1>
        </div>
        <section id="javaLibraryDropDown" class="removeClassOnClick dropDownOverlay col-md-12 col-xs-12">
            <div class="col-md-4 col-xs-12">
                <img src="~/Images/Logos/jquery.png" alt="Jquery" class="img-responsive" id="jquery" />

            </div>
            <div class="col-md-4 col-xs-12">
                <img src="~/Images/Logos/JQuery_UI_Logo.svg.png" alt="JqueryUi" class="img-responsive" id="jqueryUi" />
            </div>
        </section>
    </div>
    @* Java Library *@
</div>


@* social media *@
<div class="col-md-12 hiddenAtStart start">
    <div class="col-md-6 col-xs-12 canBeClickedOn contactLogo bigLeftTop">
        <a>
            <h2 class="col-md-4">Check out my</h2>
            <img src="~/Images/Logos/logo_linkedin.png" class="img-responsive col-md-4" />
            
        </a>
    </div>

    @*<div class="col-md-4 col-xs-12 hiddenAtStart bigLeftTop">

        </div>*@


    <div class="col-md-6 col-xs-12 bigRightTop canBeClickedOn">
      <div class="col-md-4"></div>
          <a>
              <h2 class="col-md-4">Check out my</h2>
            <img src="~/Images/Logos/Octocat.png" alt="OctoCat" class=" col-md-4 img-responsive" />
          
        </a>

    </div>
    @* social media *@
</div>



<div class="col-md-12 hiddenAtStart start">
    @* Frameworks *@
    <div class="col-md-6 col-xs-12">
        <div id="framework" class="col-xs-12 col-md-12 clickToActivateDropDown">
            <h1>Framworks</h1>
        </div>
        <section id="frameworkDropDown" class="removeClassOnClick dropDownOverlay col-md-12 col-xs-12">
            <div class="col-md-4 col-xs-12">
                <img src="~/Images/IDE and Frameworks/bootstrap02.png" class="img-responsive" />
            </div>
            <div class="col-md-4 col-xs-12">
                <img src="~/Images/IDE and Frameworks/best-asp.net-4.5.png" class="img-responsive col-md-4 col-xs-12" />
            </div>
            <div class="col-md-4 col-xs-12">

                <img src="~/Images/IDE and Frameworks/asp.netMVC.jpg" class="img-responsive col-md-4 col-xs-12" />
            </div>
            <div class="col-md-4 col-xs-12">
                <img src="~/Images/IDE and Frameworks/entity_image.png" class="img-responsive col-md-4 col-xs-12" />
            </div>
    </section>
</div>
@*Frameworks  *@

@* websites *@
@* Frameworks *@
<div class="col-md-6 col-xs-12">
    <div id="portfolio" class="col-xs-12 col-md-12 clickToActivateDropDown">
        <h1>Portfolio</h1>
    </div>
    <section id="portfolioDropDown" class="removeClassOnClick dropDownOverlay col-md-12 col-xs-12">
        <div>
            <img src="~/Images/Websites/CookscornerIcons.png" class="img-responsive" id="website" />
            <p id="websiteDropDown" class="websitePopup">HTML5 Aajax jquery JqueryUI</p>
        </div>
    </section>
</div>
@*Frameworks  *@
<div class="col-md-4">

</div>
<div class="col-md-4 col-xs-12">
    <a>
        <h2>contact me</h2>
    </a>
</div>
</div>
@*websites  *@













@*Dialog box that pops up from clicking on welcome text*@


@*shadow div*@
<div id="shadow">

    <section id="dialog">
        <article>
            <div>
                <p>
                    I have always enjoyed building pcs and solving computer problems from a young age, so I have always had a great love for technology.
                    I started playing with computer game building programmes and found great excitment from just moving a single block on a screen.
                </p>

                <p>
                    Soon a freind hearing me telling the story of a moving block and how amasing it was to me, she sent me a book on C#, and this sparked my love for devlopment.
                    I first started courses on pluralsite for offline MVVM applications on .net, but this soon evlolved to a love and fasination of building an online application.
                </p>

                <p>
                    I have been training over the past year in both front and back end sides of .net devlopment and after alot of cheering ups and solving a problem,
                    to wall banging lows I found I enjoyed every minute, and the problems web devlopers are faced with on a daily basis makes me even more excited.
                </p>
            </div>

        </article>
    </section>
</div>
@*Dialog box*@