
$mainBackgroundColor:#8aceff;
$secondarybackground:#0e4df3;
$secondaryBackgroundColor:#0032b7;
$textColor:#ffffff;

$hoverColor:#4629dd;

$mainBorderColor:#000000;
$nav:#5fb9fa;
$DropDownColor:#8cb2ec;